<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main tracy-listing","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main tracy-listing">
<!-- wp:group {"className":"tracy-container","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-container">
<!-- wp:group {"className":"tracy-listing__head","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-listing__head">
<!-- wp:heading {"level":1,"className":"tracy-display"} -->
<h1 class="wp-block-heading tracy-display">Blog</h1>
<!-- /wp:heading -->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"tracy/cards"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer","area":"footer"} /-->
