<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main tracy-listing","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main tracy-listing">
<!-- wp:group {"className":"tracy-container","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-container">
<!-- wp:group {"className":"tracy-listing__head","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-listing__head">
<!-- wp:query-title {"type":"search","level":1,"className":"tracy-display","showSearchTerm":true} /-->
<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search the site","buttonText":"Search"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"tracy/cards"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer","area":"footer"} /-->
