<!-- wp:template-part {"slug":"header","tagName":"header","className":"je-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"je-main je-page je-page--search","layout":{"type":"default"}} -->
<main class="wp-block-group je-main je-page je-page--search">
<!-- wp:group {"className":"je-container","layout":{"type":"default"}} -->
<div class="wp-block-group je-container">
<!-- wp:group {"className":"je-searchcard","layout":{"type":"default"}} -->
<div class="wp-block-group je-searchcard">
<!-- wp:wp-ja-essence/search-form /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"je-search-results","layout":{"type":"default"}} -->
<div class="wp-block-group je-search-results">
<!-- wp:query-title {"type":"search","level":2,"className":"je-listing__title"} /-->
<!-- wp:pattern {"slug":"wp-ja-essence/post-list"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:wp-ja-essence/instagram /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"je-footer","area":"footer"} /-->
