<!-- wp:template-part {"slug":"header","tagName":"header","className":"je-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"je-main je-container je-listing","layout":{"type":"default"}} -->
<main class="wp-block-group je-main je-container je-listing">
<!-- wp:group {"className":"je-narrow","layout":{"type":"default"}} -->
<div class="wp-block-group je-narrow">
<!-- wp:query-title {"type":"search","level":1,"className":"je-listing__title"} /-->
<!-- wp:search {"label":"Search","buttonText":"Search","className":"je-search-form"} /-->
<!-- wp:pattern {"slug":"wp-ja-essence/post-list"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"je-footer","area":"footer"} /-->
