<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jm-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jm-main t3-wrapper","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jm-main t3-wrapper">
<!-- wp:post-title {"level":1,"className":"screen-reader-text jm-page-title","metadata":{"name":"page.title"}} /-->
<!-- wp:group {"className":"container t3-mainbody no-sidebar jm-account","layout":{"type":"default"}} -->
<div class="wp-block-group container t3-mainbody no-sidebar jm-account">
<!-- wp:post-content {"className":"t3-content item-page","layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jm-footer","area":"footer"} /-->
