<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jm-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jm-main t3-wrapper","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jm-main t3-wrapper">
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":58,"overlayColor":"black","isUserOverlayColor":true,"className":"ja-masthead","metadata":{"name":"page.masthead"},"layout":{"type":"default"}} -->
<div class="wp-block-cover ja-masthead"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim-60 has-background-dim"></span><div class="wp-block-cover__inner-container">
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<div class="wp-block-group container">
<!-- wp:group {"className":"ja-masthead-detail","layout":{"type":"default"}} -->
<div class="wp-block-group ja-masthead-detail">
<!-- wp:post-title {"level":1,"className":"ja-masthead-title","metadata":{"name":"page.title"}} /-->
<!-- wp:post-excerpt {"className":"ja-masthead-description"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</div></div>
<!-- /wp:cover -->
<!-- wp:group {"className":"container t3-mainbody no-sidebar","layout":{"type":"default"}} -->
<div class="wp-block-group container t3-mainbody no-sidebar">
<!-- wp:post-content {"className":"t3-content item-page","layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jm-footer","area":"footer"} /-->
