<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jm-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jm-main t3-wrapper","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jm-main t3-wrapper">
<!-- wp:cover {"dimRatio":58,"overlayColor":"black","isUserOverlayColor":true,"className":"ja-masthead","metadata":{"name":"search.masthead"},"layout":{"type":"default"}} -->
<div class="wp-block-cover ja-masthead"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim-60 has-background-dim"></span><div class="wp-block-cover__inner-container">
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<div class="wp-block-group container">
<!-- wp:group {"className":"ja-masthead-detail","layout":{"type":"default"}} -->
<div class="wp-block-group ja-masthead-detail">
<!-- wp:heading {"level":1,"className":"ja-masthead-title"} -->
<h1 class="wp-block-heading ja-masthead-title">Smart Search</h1>
<!-- /wp:heading -->
<!-- wp:template-part {"slug":"search-description"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</div></div>
<!-- /wp:cover -->
<!-- wp:group {"className":"container t3-mainbody jm-with-sidebar","layout":{"type":"default"}} -->
<div class="wp-block-group container t3-mainbody jm-with-sidebar">
<!-- wp:group {"className":"t3-content com-finder finder","layout":{"type":"default"}} -->
<div class="wp-block-group t3-content com-finder finder">
<!-- wp:template-part {"slug":"search-form"} /-->
<!-- wp:query {"queryId":91,"query":{"inherit":true},"className":"jm-finder-results"} -->
<div class="wp-block-query jm-finder-results">
<!-- wp:post-template -->
<!-- wp:post-title {"level":4,"isLink":true} /-->
<!-- wp:post-excerpt {"excerptLength":30} /-->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"sidebar","className":"jm-sidebar-part"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jm-footer","area":"footer"} /-->
