<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jm-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jm-main t3-wrapper","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jm-main t3-wrapper">
<!-- wp:group {"className":"ja-masthead jm-article-masthead","metadata":{"name":"single.masthead"},"layout":{"type":"default"}} -->
<div class="wp-block-group ja-masthead jm-article-masthead">
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<div class="wp-block-group container">
<!-- wp:group {"className":"ja-masthead-detail","layout":{"type":"default"}} -->
<div class="wp-block-group ja-masthead-detail">
<!-- wp:post-terms {"term":"category","className":"category-name"} /-->
<!-- wp:post-title {"level":1,"className":"ja-masthead-title"} /-->
<!-- wp:group {"className":"article-info","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group article-info">
<!-- wp:post-author-name {"className":"createdby"} /-->
<!-- wp:post-date {"format":"M d, Y","className":"published"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"container t3-mainbody jm-with-sidebar","layout":{"type":"default"}} -->
<div class="wp-block-group container t3-mainbody jm-with-sidebar">
<!-- wp:group {"className":"t3-content item-page","layout":{"type":"default"}} -->
<div class="wp-block-group t3-content item-page">
<!-- wp:post-content {"className":"article-content","layout":{"type":"default"}} /-->
<!-- wp:post-terms {"term":"post_tag","className":"tags"} /-->
<!-- wp:group {"className":"pager pagenav","layout":{"type":"flex"}} -->
<div class="wp-block-group pager pagenav">
<!-- wp:post-navigation-link {"label":"Prev","showTitle":false,"className":"previous"} /-->
<!-- wp:post-navigation-link {"type":"previous","label":"Next","showTitle":false,"className":"next"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"sidebar","className":"jm-sidebar-part"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jm-footer","area":"footer"} /-->
