<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main tracy-page-stack tracy-page-stack--home","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main tracy-page-stack tracy-page-stack--home">
<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer","area":"footer"} /-->
