<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main tracy-page-stack tracy-page-stack--sitemap","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main tracy-page-stack tracy-page-stack--sitemap">
<!-- wp:group {"className":"tracy-crumbs tracy-crumbs--flush","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-crumbs tracy-crumbs--flush">
<!-- wp:group {"className":"tracy-container","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-container">
<!-- wp:breadcrumbs {"showHomeItem":true,"showCurrentItem":true,"separator":"/"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"tracy-container tracy-sitemap","layout":{"type":"default"}} -->
<div class="wp-block-group tracy-container tracy-sitemap">
<!-- wp:post-title {"level":1,"className":"tracy-display tracy-sitemap__heading"} /-->
<!-- wp:group {"className":"tracy-sitemap__groups","layout":{"type":"default"},"metadata":{"name":"sitemap.groups"}} -->
<div class="wp-block-group tracy-sitemap__groups"></div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer","area":"footer"} /-->
