<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jn-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jn-main","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jn-main">
<!-- wp:group {"className":"jn-crumbs","layout":{"type":"default"}} -->
<div class="wp-block-group jn-crumbs">
<!-- wp:group {"className":"jn-container","layout":{"type":"default"}} -->
<div class="wp-block-group jn-container">
<!-- wp:breadcrumbs {"separator":"›","className":"jn-breadcrumbs"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"section","className":"jn-main-body","layout":{"type":"default"}} -->
<section class="wp-block-group jn-main-body">
<!-- wp:group {"className":"jn-container","layout":{"type":"default"}} -->
<div class="wp-block-group jn-container">
<!-- wp:post-content {"className":"jn-prose jn-auth jn-auth--register","layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->
</section>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jn-footer","area":"footer"} /-->
