<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jn-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jn-main","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jn-main">
<!-- wp:group {"className":"jn-crumbs","layout":{"type":"default"}} -->
<div class="wp-block-group jn-crumbs">
<!-- wp:group {"className":"jn-container","layout":{"type":"default"}} -->
<div class="wp-block-group jn-container">
<!-- wp:breadcrumbs {"separator":"›","className":"jn-breadcrumbs"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"section","className":"jn-main-body jn-page","layout":{"type":"default"}} -->
<section class="wp-block-group jn-main-body jn-page">
<!-- wp:group {"className":"jn-container","layout":{"type":"default"}} -->
<div class="wp-block-group jn-container">
<!-- wp:search {"label":"Search Terms:","placeholder":"","buttonText":"Search","className":"jn-search"} /-->
<!-- wp:query {"queryId":52,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","inherit":true},"className":"jn-list jn-search-results"} -->
<div class="wp-block-query jn-list jn-search-results">
<!-- wp:post-template {"className":"jn-list__items"} -->
<!-- wp:group {"className":"jn-list-item jn-list-item--compact","layout":{"type":"default"}} -->
<div class="wp-block-group jn-list-item jn-list-item--compact">
<!-- wp:post-title {"level":2,"isLink":true,"className":"jn-list-item__title"} /-->
<!-- wp:post-excerpt {"excerptLength":30,"className":"jn-list-item__text","moreText":""} /-->
</div>
<!-- /wp:group -->
<!-- /wp:post-template -->
<!-- wp:query-pagination {"className":"jn-pagination","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->
<!-- wp:query-pagination-numbers /-->
<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->
</div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->
</section>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jn-footer","area":"footer"} /-->
