<!-- wp:template-part {"slug":"header","tagName":"header","className":"tracy-header jn-header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"tracy-main jn-main","layout":{"type":"default"}} -->
<main class="wp-block-group tracy-main jn-main">
<!-- wp:group {"className":"jn-crumbs","layout":{"type":"default"}} -->
<div class="wp-block-group jn-crumbs">
<!-- wp:group {"className":"jn-container","layout":{"type":"default"}} -->
<div class="wp-block-group jn-container">
<!-- wp:breadcrumbs {"separator":"›","className":"jn-breadcrumbs"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"article","className":"jn-main-body jn-article","layout":{"type":"default"}} -->
<article class="wp-block-group jn-main-body jn-article">
<!-- wp:group {"className":"jn-container","layout":{"type":"default"}} -->
<div class="wp-block-group jn-container">
<!-- wp:group {"className":"jn-article__head","layout":{"type":"default"}} -->
<div class="wp-block-group jn-article__head">
<!-- wp:post-date {"format":"F d, Y","className":"jn-article__date"} /-->
<!-- wp:post-title {"level":1,"className":"jn-article__title"} /-->
<!-- wp:post-terms {"term":"post_tag","separator":"","className":"jn-tags jn-article__tags"} /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"className":"jn-article__box","layout":{"type":"default"}} -->
<div class="wp-block-group jn-article__box">
<!-- wp:template-part {"slug":"share","className":"jn-article__share"} /-->
<!-- wp:group {"className":"jn-article__content","layout":{"type":"default"}} -->
<div class="wp-block-group jn-article__content">
<!-- wp:post-content {"className":"jn-prose jn-article__body","layout":{"type":"default"}} /-->
<!-- wp:group {"className":"jn-article__nav","layout":{"type":"default"}} -->
<div class="wp-block-group jn-article__nav">
<!-- wp:post-navigation-link {"type":"previous","label":"Prev","showTitle":false,"arrow":"chevron","className":"jn-article__prev"} /-->
<!-- wp:post-navigation-link {"label":"Next","showTitle":false,"arrow":"chevron","className":"jn-article__next"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</article>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tracy-footer jn-footer","area":"footer"} /-->
