<!-- wp:group {"tagName":"main","className":"jim-404 tracy-main","layout":{"type":"default"}} -->
<main class="wp-block-group jim-404 tracy-main">
<!-- wp:group {"className":"jim-404__wrap","metadata":{"name":"404.page"},"layout":{"type":"default"}} -->
<div class="wp-block-group jim-404__wrap">
<!-- wp:group {"className":"jim-404__digits","layout":{"type":"default"}} -->
<div class="wp-block-group jim-404__digits">
<!-- wp:paragraph {"className":"jim-404__digit jim-404__digit--four1"} -->
<p class="jim-404__digit jim-404__digit--four1">4</p>
<!-- /wp:paragraph -->
<!-- wp:paragraph {"className":"jim-404__digit jim-404__digit--zero"} -->
<p class="jim-404__digit jim-404__digit--zero">0</p>
<!-- /wp:paragraph -->
<!-- wp:paragraph {"className":"jim-404__digit jim-404__digit--four2"} -->
<p class="jim-404__digit jim-404__digit--four2">4</p>
<!-- /wp:paragraph -->
<!-- wp:paragraph {"className":"jim-404__bubble"} -->
<p class="jim-404__bubble">OH!</p>
<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
<!-- wp:heading {"level":2,"className":"jim-404__title"} -->
<h2 class="wp-block-heading jim-404__title">Page not found</h2>
<!-- /wp:heading -->
<!-- wp:paragraph {"className":"jim-404__text"} -->
<p class="jim-404__text"><strong>An error has occurred while processing your request.</strong></p>
<!-- /wp:paragraph -->
<!-- wp:buttons {"className":"jim-404__home"} -->
<div class="wp-block-buttons jim-404__home">
<!-- wp:button {"className":"jim-btn jim-btn--primary"} -->
<div class="wp-block-button jim-btn jim-btn--primary"><a class="wp-block-button__link wp-element-button" href="/">Home Page</a></div>
<!-- /wp:button -->
</div>
<!-- /wp:buttons -->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
